.contact{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    iframe{
        border-radius: 100% 75% 100% 75% ;
        max-width: 34vw;
    }
}