.about{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        min-height: 100vh;
        max-height: 100vh;
        background-image: url("../images/ingredients-near-pizza-min.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        h4{
          margin-top: 16vh;
          text-decoration: underline;
          border-radius: 50% 75% 50% 75%;
          padding: 34px;
          width: fit-content;
          background-color: rgba(0, 0, 0, 0.700);
          color: gold;
          font-size: 43px;
          text-align: center;
        }
      p{
        border-radius: 25px ;
        line-height: 1.6;
width: 55%;
        padding: 60px;
        background-color: rgba(0, 0, 0, 0.700);
            text-align: center;
            
            font-size:xx-large;
            color: silver;
        }
      
}