.black-bg{
    background-color: rgba(0, 0, 0, 0.700);
    transition: background-color 700ms ;
}
.navbar{
    z-index: 1;
    transition: background-color 700ms ;
    min-height: 16vh;
    max-height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: fit-content;
        margin-left: 16px;
        img{
            width: 16vh;
            &::selection{
                background: transparent;
            }
        }
    }
    .options{
        margin-right: 25px;
        max-width: 43vw;
        width: 100%;
        min-height: 16vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .span{
            text-decoration: none;
            font-size: large;
            text-align: center;
            max-width: fit-content;
            cursor: pointer;
            color: gold;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}