.footer-show {
    transition: bottom 250ms;
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 100vw;
  width: 100%;
  min-height: 16vh;
  max-height: 16vh;
  position: fixed;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  .copyright {
    margin-right: 18%;
    color: gold;
    font-size: large;
    width: fit-content;
    span {
      font-size: xx-large;
    }
  }
  .social {
    width: fit-content;
    margin: 16px;
    .insta {
      font-size: xx-large;

      color: gold;
      text-decoration: none;
    }
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    .email {
      font-size: xx-large;

      margin: 16px;
      text-decoration: none;
      color: gold;
    }
    .number {
      font-size: xx-large;
      margin: 16px;
      text-decoration: none;
      color: gold;
    }
  }
  .address {
    margin: 16px;
    text-decoration: underline;
    color: gold;
    width: fit-content;
    font-size: large;
  }
}
.footer-hide {
    transition: bottom 250ms;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 100vw;
    width: 100%;
    min-height: 16vh;
    max-height: 16vh;
    position: fixed;
    bottom: -25%;
    display: flex;
    align-items: center;
    justify-content: center;
    .copyright {
      margin-right: 18%;
      color: gold;
      font-size: large;
      width: fit-content;
      span {
        font-size: xx-large;
      }
    }
    .social {
      width: fit-content;
      margin: 16px;
      .insta {
        font-size: xx-large;
  
        color: gold;
        text-decoration: none;
      }
    }
    .contact {
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      .email {
        font-size: xx-large;
  
        margin: 16px;
        text-decoration: none;
        color: gold;
      }
      .number {
        font-size: xx-large;
        margin: 16px;
        text-decoration: none;
        color: gold;
      }
    }
    .address {
      margin: 16px;
      text-decoration: underline;
      color: gold;
      width: fit-content;
      font-size: large;
    }
  }
  
