@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Quicksand:wght@500&display=swap');
*{
  scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans;
    max-width: 100vw;
    width: 100%;
    background: local;
}
body{
background-color: black;}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 position: relative;
}