.menu{
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img-div {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          color: silver;
          max-width: fit-content;
          font-size: 2rem;
          cursor: pointer;
          text-align: center;
        }
        .next{
            right: 5%;
        }
        .previous{
            left: 5%;
        }
        
        img {
          width: 61vw;
          
        }
      }
}